@import "base/variables";
@import "base/typography";
@import "base/base";
@import "base/navigation";
@import "base/header";
@import "base/card";
@import "base/buttons";
@import "base/ocprojects";
@import "base/projects";
@import "base/contact";
@import "base/footer";

