*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body{
    
    
    background-color: #ffffff;
    @media only screen and (min-width: $screen) {
        padding: 3rem;
    }
   
}