.header {
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.55),
            rgba($color-primary-dark, 0.85)),
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: right;
    position: relative;

    @media only screen and (min-width: $screen) {
       width: 92.5vw;
       background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.55),
            rgba($color-primary-dark, 0.85)),
        url(../img/hero-big.jpg);
        
        background-position: bottom;
       
    }
    @media only screen and (min-width: $bigscreen) {
       width: 94vw;
    }

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 1.5rem;
        
        @media only screen and (min-width: $ipad) {
            top: 3.8rem;
            left: 4.5rem;
        }
        @media only screen and (min-width: $ipadpro) {
            left: 7.5rem;
        }
    }

    &__logo {
        height: 2.5rem;
        @media only screen and (min-width: $ipad){
            height: 5.5rem;
        }
    }

    &__text-box {
        position: absolute;

        top:25%;
        left: 5%;

        @media only screen and (min-width: $ipad) {
            top: 47%;
            left: 40%;
            transform: translate(-50%, -50%);
            text-align: left;
        }
       
        @media only screen and (min-width: $ipadpro) {
            top: 60%;
        }
       
    }
}